<article class="post">
  <div class="title">
    <h2>{{post_body}}</h2>
    <span>{{post_body}}</span>
  </div>
  <div class="meta">
    {{user.username}} | {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>