<article class="post">
  <div class="title">
    <h2>{{title}}</h2>
    <p>{{post_body}}</p>
  </div>
  <div class="meta">
    {{user.username}} | {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>